{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": false
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "components": "./src/components",
          "app": "./src/app",
          "utils": "./src/utils",
          "Home": "./src/Home",
          "NewPlaylist": "./src/NewPlaylist",
          "assets": "./src/assets"
        }
      }
    ]
  ]
}
